@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.spotlight-card {
  position: relative;
  overflow: hidden;
}

.spotlight-light {
  position: absolute;
  top: var(--y, -100px);
  left: var(--x, -100px);
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 0%,
    transparent 70%
  );
  pointer-events: none;
  border-radius: 50%;
  transition:
    top 0.05s,
    left 0.05s;
}
